In [33]:
from bs4 import BeautifulSoup
import os
import requests
from splinter import Browser
from selenium import webdriver
import pandas as pd
import time
from flask import Flask

In [34]:
url1 = "https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest"

In [35]:
response = requests.get(url1)

In [36]:
soup1 = BeautifulSoup(response.text, 'html.parser')

In [37]:
news_title = soup1.find('div', class_='content_title').text.strip()
news_title

'NASA Invites Students to Name Mars 2020 Rover'

In [38]:
news_p = soup1.find('div', class_='rollover_description_inner').text.strip()
news_p

"Through Nov. 1, K-12 students in the U.S. are encouraged to enter an essay contest to name NASA's next Mars rover."

In [39]:
executable_path = {"executable_path": "chromedriver.exe"}
browser = Browser("chrome", **executable_path, headless=False)

In [40]:
url2 = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(url2)

In [41]:
browser.click_link_by_id('full_image')

In [42]:
time.sleep(2)

In [43]:
html = browser.html
img_soup = BeautifulSoup(html, "html.parser")
img_url = img_soup.find('img', class_='fancybox-image')['src']

In [44]:
featured_img_url = "https://www.jpl.nasa.gov" + img_url
featured_img_url

'https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA17172_ip.jpg'

In [45]:
url3 = 'https://twitter.com/marswxreport?lang=en'
response = requests.get(url3)

In [46]:
soup2 = BeautifulSoup(response.text, 'html.parser')
mars_weather = soup2.find('div', class_='js-tweet-text-container')
mars_weather.text.strip()

'Weeeeee!  https://www.jpl.nasa.gov/spaceimages/details.php?id=PIA23461\xa0…pic.twitter.com/iuEqJjsQ4G'

In [47]:
url4 = 'https://space-facts.com/mars/'
tables = pd.read_html(url4)
tables

[  Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [48]:
df = tables[0]
df.columns = ['Mars-Earth_Comparison', 'Mars', 'Earth']
df.head()

  Mars-Earth_Comparison             Mars            Earth
0             Diameter:         6,779 km        12,742 km
1                 Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2                Moons:                2                1
3    Distance from Sun:   227,943,824 km   149,598,262 km
4       Length of Year:   687 Earth days      365.24 days

In [49]:
html_table1 = df.to_html()
html_table2 = html_table1.replace('\n', '')
html_table2

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Mars-Earth_Comparison</th>      <th>Mars</th>      <th>Earth</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Diameter:</td>      <td>6,779 km</td>      <td>12,742 km</td>    </tr>    <tr>      <th>1</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg</td>      <td>5.97 × 10^24 kg</td>    </tr>    <tr>      <th>2</th>      <td>Moons:</td>      <td>2</td>      <td>1</td>    </tr>    <tr>      <th>3</th>      <td>Distance from Sun:</td>      <td>227,943,824 km</td>      <td>149,598,262 km</td>    </tr>    <tr>      <th>4</th>      <td>Length of Year:</td>      <td>687 Earth days</td>      <td>365.24 days</td>    </tr>    <tr>      <th>5</th>      <td>Temperature:</td>      <td>-153 to 20 °C</td>      <td>-88 to 58°C</td>    </tr>  </tbody></table>'

In [50]:
url4 = 'https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced'
response = requests.get(url4)

In [51]:
soup3 = BeautifulSoup(response.text, 'html.parser')
cerebrus_img = soup3.find('img', class_='wide-image')['src']
cerebrus_img

'/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg'

In [52]:
cerebrus_title = soup3.find('h2', class_='title')
cerebrus_title.text.strip()

'Cerberus Hemisphere Enhanced'

In [53]:
url5 = 'https://astrogeology.usgs.gov/search/map/Mars/Viking/schiaparelli_enhanced'
response = requests.get(url5)

In [54]:
soup4 = BeautifulSoup(response.text, 'html.parser')
schiaparelli_img = soup4.find('img', class_='wide-image')['src']
schiaparelli_hem

'/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg'

In [55]:
schiaparelli_title = soup4.find('h2', class_='title')
schiaparelli_title.text.strip()

'Schiaparelli Hemisphere Enhanced'

In [56]:
url6 = 'https://astrogeology.usgs.gov/search/map/Mars/Viking/syrtis_major_enhanced'
response = requests.get(url6)

In [57]:
soup5 = BeautifulSoup(response.text, 'html.parser')
syrtis_major_img = soup5.find('img', class_='wide-image')['src']
syrtis_major_hem

'/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg'

In [58]:
syrtis_major_title = soup5.find('h2', class_='title')
syrtis_major_title.text.strip()

'Syrtis Major Hemisphere Enhanced'

In [59]:
url7 = 'https://astrogeology.usgs.gov/search/map/Mars/Viking/valles_marineris_enhanced'
response = requests.get(url7)

In [60]:
soup6 = BeautifulSoup(response.text, 'html.parser')
valles_marineris_img = soup6.find('img', class_='wide-image')['src']
valles_marineris_hem

'/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'

In [61]:
valles_marineris_title = soup6.find('h2', class_='title')
valles_marineris_title.text.strip()

'Valles Marineris Hemisphere Enhanced'